
#root
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}
.app-container {
    display: flex;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}
/**
* nada?
*/
.experience-canvas
{
   flex: 4;
}

/**
* interface que tiene la matemática
*/
.interface
{
    flex: 1;
    border: 2px solid #615858d0;
    background: #ebe8ffd0;
    font-family: 'Helvetica', 'Bebas Neue', sans-serif;
    z-index: 10;
}
/**
*Titulo
*/
.titulo
{
    color: #fff;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
    
}

/**
*Nada?
*/
.contenido 
{
    color: #fff;
    background: #943030d0;
    padding-top: 5px;
    text-align: center;
}

.math-container
{
    padding: 10px;
}

.botonInterfaz
{
    cursor: pointer;
}